/*!
 * Custom Theme CSS  - Parker
 * Copyright 2018-2019 HCL Technologies / Parker.com
 * Author - HCL Technologies
 */

 /* - - - - - - - - - - */

 /*
 color main - #ffb91d

 color secondary - #353535 

 color tri - #e2e1dd




 color1 = #337ab7 - Background
 color2 = #2e6da4 - For Border

 color3 = #23527c
 
 .parker-theme 
 
 */
.primary-color
{
   color: #ffb91d;
}


.secondary-color
{
   color: #424242;
}
 * :not(i) {

   font-family: 'Roboto', Helvetica, Arial, sans-serif; 
   
}


 .btn-primary, 
 .btn-primary:hover,
 .btn-default.active.focus,
 .btn-default.active:focus,
 .btn-default.active:hover,
 .btn-default:active.focus,
 .btn-default:active:focus,
 .btn-default:active:hover,
 .btn-primary.focus, 
 .btn-primary:focus,
 .open>.dropdown-toggle.btn-default.focus,
 .open>.dropdown-toggle.btn-default:focus,
 .open>.dropdown-toggle.btn-default:hover,
 
 .btn.btn-default.btn-secondary,
.btn-default.btn-secondary,
.btn-secondary,
.btn.btn-default
 
 {
     color: #fff;
     background-color: #ffb91d;
     border-color: transparent;
     outline: none;
     outline-offset: 0;
     -webkit-box-shadow: none;
     box-shadow: none;
     text-transform: uppercase;
     font-weight: 700;
     border-radius: 15px;
    padding: 4px 30px;
    font-size: 13px;
 }

.btn.btn-default.btn-secondary,
.btn-default.btn-secondary,
.btn-secondary
{
   color: #fff;
   background-color: #424242;
}


 a
 {
    color: #ffb91d;
 }

 a:focus, 
 a:hover 
 {
    color: #ffb91d;
    text-decoration: none;
}


.input-group-addon
{
   /*color: #fff;
   background-color: #424242;
   
   border: none;*/
   font-weight: 500;
   
}

.form-control
{
   
   -webkit-box-shadow: none;
    box-shadow: none;
  
}


.form-control:focus {
   border-color: #ffb91d;
   outline: 0;
   -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 3px rgba(255,185,29,.6);
   box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 3px rgba(255,185,29,.6);
}


/*Custom Items*/

.last-sync,
.scroll-to-top
{
   color: #fff;
   background-color: #424242;
}



.preview-popup-btn{
   
   color: #ffb91d;
   
}

.preview-popup-btn span{
   background: #fff;
   
   border: 1px solid #ddd;
   
   
}

.preview-popup-btn span:hover
{
   background: #ddd;
   
}

