/*!
 * Custom CSS  - Order Footprints
 * Copyright 2018-2019 HCL Technologies / Parker.com
 * Author - HCL Technologies
 */

 /* - - - - - - - - - - */


 .order-footprints .navbar-brand
 {
     padding: 5px 5px 5px 15px;
 }

 
 .order-footprints .navbar-brand img
 {
    max-height: 100%;
 }

 .xml-preview-small
 {
     border: none; 
     overflow: hidden;
     resize: none;
     background: transparent;
     vertical-align: middle;
     word-break: break-all;
     width: 100%;
     cursor: default;
     margin-bottom: 40px;
     
 }

 .xml-preview-small:hover,
 .data-container:hover
 {
    -webkit-box-shadow:  1px 1px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.2);
    box-shadow:  1px 1px 5px 0px rgba(0,0,0,0.2);
 }

.data-container
{
    
    white-space: normal;
}



 .fetched-customer-order-data .table-bordered tr td
 {
    position: relative;
 }

 .preview-popup-btn{
    margin-top: 8px;
    text-align: center;
    font-size: 16px;
    color: #337ab7;
    position: absolute;
    bottom: 0;
    width: calc(100% - 16px);
    margin-bottom: 10px;
 }

 .preview-popup-btn span{
    background: #fff;
    cursor: pointer;
    min-width: 35px;
    min-height: 30px;
    display: inline-block;
    line-height: 30px;
    margin: 0 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    
 }

.preview-popup-btn span:hover
{
    background: #ddd;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}

 .fetched-customer-data
 {
    margin-top: 20px;
    border-top: 1px solid #ddd;
    padding-top: 20px;
 }

 .fetched-customer-data .custom-form-section
 {
    /*border-radius: 0;*/
    box-shadow: none;
 }
 .fetched-customer-data .custom-form-group-section
 {
     margin-left: 15px;
     margin-right: 15px;
 }

.input-group-addon.custom-form-section {
    min-width: 120px;
    text-align: left;
}

textarea.xml-preview-large {
    width: 100%;
    min-height: 150px;
    resize: none;
    border-color: #ddd;
}

.page-footer
{
    background-color: #f8f8f8;
    border-top: 1px solid #e7e7e7;
   
    
}

.footer-text
{
    line-height: 50px;
}

.xml-popup-link {
    text-align: center;
}
.xml-popup-link a
{
    min-width: 35px;
    min-height: 30px;
    display: inline-block;
    line-height: 30px;
    margin: 0 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.global-command-btn
{
    text-align: center;
    min-width: 35px;
    min-height: 30px;
    display: inline-block;
    line-height: 30px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top: -6px;
    margin-left: 10px;
    background: #fff;
    
}

.xml-popup-link a:hover
{
    background: #ddd;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}



a.download-exl-data-btn {
    text-align: center;
    min-width: 30px;
    min-height: 25px;
    display: inline-block;
    line-height: 25px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-left: 10px;
    background: #fff;
    
}

.event-loader {
    position: fixed;
    z-index: 999;
    width: 200px;
    height: 200px;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#fetch-customer-data-form .input-group-addon
{
    min-width: 100px;
    text-align: left;
}



.for-id{
    min-width: 110px;
}
.for-service-name
{
    min-width: 120px;
}

.for-created-on
{
    min-width: 155px;
}
.for-order-status
{
    min-width: 90px;
}
.for-error,
.for-comment,
.for-request,
.for-response
{
   width: 274px;
   
}
.for-error div,
.for-comment div
{
    max-height: 143px;
    overflow: hidden;
    word-break: break-all;
}

.modal-dialog.fs
{
    width: calc(100% - 50px);
}

/* .modal-dialog.fs .modal-footer, 
.modal-dialog.fs .modal-header
{
    display: none;
}*/
.modal.fade .modal-dialog
{
    transition: all 0.5s ease-in-out;
}



.last-sync
{
    position: fixed;
    text-align: right;
    right: 0;
    background: #eee;
    
    -webkit-box-shadow: -2px 2px 3px 0px rgba(18,18,18,0.35);
    -moz-box-shadow: -2px 2px 3px 0px rgba(18,18,18,0.35);
    box-shadow: -2px 2px 3px 0px rgba(18,18,18,0.35);
    z-index: 999;
    transition: all 0.5s ease-in-out;
    
}

.last-sync .last-sync-text,
.last-sync-text-alert
{
    font-weight: bold;
    font-size: 13px;
    padding: 5px 5px 5px 0px;
    line-height: 25px;
}

.last-sync i{
    cursor: pointer;
    padding: 5px 10px;
    line-height: 20px;
}
.last-sync .fa-refresh {
    margin: 5px 30px 5px 10px;
    padding: 0;
} 


.fa-rotation {
    animation: fa-spin 1s infinite linear;
}

@-webkit-keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

.scroll-to-top
{
    position: fixed;
    text-align: right;
    right: 30px;
    background: #eee;
    padding: 5px 10px;
    -webkit-box-shadow: -2px 2px 3px 0px rgba(18,18,18,0.35);
    -moz-box-shadow: -2px 2px 3px 0px rgba(18,18,18,0.35);
    box-shadow: -2px 2px 3px 0px rgba(18,18,18,0.35);
    z-index: 999;
    transition: all 0.5s ease-in-out;
    bottom: 0;
    cursor: pointer;
}

.theme-toggle
{
    position: absolute;
    text-align: right;
    right: 0;
    /* background: #eee; */
    padding: 4px 10px;
    /* -webkit-box-shadow: -2px 2px 3px 0px rgba(18,18,18,0.35);
    -moz-box-shadow: -2px 2px 3px 0px rgba(18,18,18,0.35);
    box-shadow: -2px 2px 3px 0px rgba(18,18,18,0.35); */
    z-index: 1001;
    top: 8px;
}

.last-sync,
.scroll-to-top,
.theme-toggle
{
    transition: all 0.4s ease-in-out;
}
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 20px;
    margin-bottom: 0;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .3s;
    transition: .3s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 0px;
    bottom: 0px;
    background-color: white;
    -webkit-transition: .3s;
    transition: .3s;
  }
  
  input:checked + .slider {
    background-color: #ffb91d;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 0px #ffb91d;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(27px);
    -ms-transform: translateX(27px);
    transform: translateX(27px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.panel-heading-text {
    text-transform: uppercase;
}

.th-heading
{
    text-transform: uppercase;
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    border-bottom: none !important;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 4px 8px !important;
    line-height: 26px !important;
}
.sign-out
  {
    position: absolute;
    right: 70px;
    top: 9px;
    z-index: 9999;
    border: 1px solid;
    padding: 2px 7px;
    border-radius: 50%;
    color: #000;
  }
  .hi-name
  {
    position: absolute;
    right: 115px;
    top: 9px;
    z-index: 9998;
    padding: 2px 7px;
    color: #000;
    text-align: right;
  }
.show-custom-error .for-error .preview-popup-btn .fa-eye
{
    color: red !important;
}
.clr
{
    clear: both;
}

/**/

.call-voice-btn
{
    display: none;
}
.voice-activated .main-panel-heading-text
{
    display: inline-block;
}



.voice-activated .call-voice-btn
{
    height: 30px;
    width: 30px;
    border: 1px solid;
    text-align: center;
    line-height: 28px;
    border-radius: 100%;
    margin-top: 5px;
    cursor: pointer;
    display: inline-block;
}

.text-hint
{
    margin-top: 10px;
    font-size: 16px;
}
.main-voice-input
{
    color: #888;
    text-align: center;
}

.main-mic
{
   
   text-align: center;
   height: 100px; 
   position: relative;
    
}
 .mic-circle,
 .main-mic-shadow
 {
    width: 90px;
    border: 1px solid #ccc;;
    display: inline-block;
    border-radius: 100%;
    height: 90px;
    font-size: 45px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    line-height: 90px;
    top: 0;
    bottom: 0;
    transition: all 0.8s ease-in-out;
    
    
 }
 .mic-circle
 {
    -webkit-box-shadow: 1px 2px 2px 0px rgba(18,18,18,0.35);
    -moz-box-shadow: 1px 2px 2px 0px rgba(18,18,18,0.35);
    box-shadow: 1px 2px 2px 0px rgba(18,18,18,0.35);
    z-index: 1;
    background: #fff;
   
 }
 .main-mic-shadow
 {
    background: #dcdcdc;
    width: 50px;
    height: 50px;
    border: none;
   
 }



 .sync-error
 {
     transition: 'background' 15s ease-in-out;
     animation: redoff 10s 1;
 }
 
 
  @keyframes redoff {
     0% {
       background: #ff0000;
     }
 
     50% {
         background: #ff0000
       }
     
     100% {
         background: #eee;
     }
   }
 

.sync-success
{
    transition: 'background' 15s ease-in-out;
    animation: greenoff 15s 1;
}


 @keyframes greenoff {
    0% {
      background: #3fce3f;
    }

    50% {
        background: #3fce3f;
      }
    
    100% {
        background: #eee;
    }
  }



  .listening .main-mic-shadow
  {
     
     transition: all 0.8s ease-in-out;
     animation: ani 0.8s 8;
  }
 

 @keyframes ani {
    0% {
      transform: scale(1.2) translate(0px); 
    }
    50% {
      transform: scale(2.2) translate(0px); 
    }
    100% {
      transform: scale(1.2) translate(0px); 
    }
  }
  

 .listening-ready .mic-circle
 {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
    background: red;
    color: white;
    
 }


 #note-textarea
 {
    width: 100%;
    min-height: 50px;
    resize: none;
    border:1px solid #ddd;
    display: none;
    text-transform: capitalize;
    padding: 2px 5px;
 }
 

 #start-record-btn
 {
     cursor: pointer;
     
 }

.footnote
{
    font-size: 12px;
    color: #666;
    margin-top: 20px
}
.footnote span
{
    font-style: italic;
}


@media print {
    @page { size: landscape; }
    *,
    *:before,enter code here
    *:after {
      color: #000 !important;
      text-shadow: none !important;
      background: transparent !important;
      -webkit-box-shadow: none !important;
              box-shadow: none !important;
    }
    a,
    a:visited {
      text-decoration: underline;
    }
    a[href]:after {
      content: " ";
    }
    abbr[title]:after {
      content: " (" attr(title) ")";
    }
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
      content: "";
    }
    pre,
    blockquote {
      border: 1px solid #999;
  
      page-break-inside: avoid;
    }
    thead {
      display: table-header-group;
    }
    tr,
    img {
      page-break-inside: avoid;
    }
    img {
      max-width: 100% !important;
    }
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
    h2,
    h3 {
      page-break-after: avoid;
    }
    select {
      background: #fff !important;
    }
    .navbar {
      display: none;
    }
    .btn > .caret,
    .dropup > .btn > .caret {
      border-top-color: #000 !important;
    }
    .label {
      border: 1px solid #000;
    }
    .table {
      border-collapse: collapse !important;
    }
    .table td,
    .table th {
      background-color: #fff !important;
    }
    .table-bordered th,
    .table-bordered td {
      border: 1px solid #ccc !important;
    }

    /*custom Print */
    .order-footprints form,
    .main-panel-heading-text,
    .download-exl-data-btn,
    .global-command-btn,
    .preview-popup-btn
    {
        display: none;
    }

  }

.sign-out
  {
    position: absolute;
    right: 70px;
    top: 9px;
    z-index: 9999;
    border: 1px solid;
    padding: 2px 7px;
    border-radius: 50%;
    color: #000;
  }


body 
{
    -ms-overflow-style: scrollbar;
}