<!-- fetch-customer-order-data : handlebar file -->

<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong class="panel-heading-text">Refine your Results:</strong>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group input-group custom-form-group-section">
                        <span class="input-group-addon custom-form-section ">Filter Status: </span>
                        <span class="form-control custom-form-section fetched-filter-status"></span>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="form-group input-group custom-form-group-section">
                        <span class="input-group-addon custom-form-section ">Date Range Selected: </span>
                        <span class="form-control custom-form-section fetched-date-range-selected"></span>
                    </div>
                </div>

                

            </div>

        </div>
    </div>
</div>


<!-- Search result top Starts -->
{{#each this.List.resultList}}

<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
                <strong class="panel-heading-text">Results:</strong> 
                <a class="print-data-btn global-command-btn pull-right" data-toggle-tooltip="tooltip" data-placement="top" title="" data-original-title="Print" href="javaScript:void(0);"><i class="fa fa-print fa-fw"></i></a>
                <!-- <a class="download-exl-data-btn pull-right" data-toggle-tooltip="tooltip" data-placement="top" title="" data-original-title="Export entire table data to Excel" href="javaScript:void(0);">Export All to Excel <i class="fa fa-download fa-fw"></i></a> -->
                <a class="pdf-excel-data-btn global-command-btn pull-right" data-toggle-tooltip="tooltip" data-placement="top" title="" data-original-title="Export all table data to CSV/Excel" href="javaScript:void(0);"><i class="fa fa-file-excel-o fa-fw"></i></a>
        </div>
        <div class="panel-body">
                {{#each this.orderWiseFootprintMap}}
            <div class="table-responsive">
                <table class="table table-bordered table-striped result-table" id='result-table-{{@index}}'>

                    

                    <thead>
                        <tr>
                            <th colspan="7" class="th-heading">

                                    {{#each this}}
                                        {{#unless @index}}

                                            {{#if  this.entityType }}
                                                <!-- {{this.entityType}}  1 -->
                                                Quotes ID: 

                                            {{else}}
                                            <!-- 0 -->
                                            Order ID: 

                                            {{/if}}


                                            

                                        {{/unless}}
                                    {{/each}}


                                    {{@key}} 

                             


                                <!-- <a class="download-exl-data-btn pull-right" data-toggle-tooltip="tooltip" data-placement="top" title="" data-original-title="Export below table data to Excel" href="javaScript:void(0);"><i class="fa fa-file-excel-o fa-fw"></i></a> -->
                            </th>
                        </tr>
                    </thead>
                    <thead>
                        <tr>
                            
                            <th>
                                Service Name	
                            </th>
                            <th>
                                Request
                            </th>
                            <th>
                                Response
                            </th>
                            <th>
                                Created On
                            </th>

                            <th>
                                Status
                            </th>

                            <th>
                                Error                               
                            </th>
                            <th>
                                Comment
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        
                        {{#each this}}
                        <tr class="order-data-row  {{#if this.error}}show-custom-error{{/if}}">
                            <td class="for-id hidden">{{this.entityId}}</td>
                            <td class="for-service-name">{{this.serviceName}}</td>
                            <td class="for-request">
                                <textarea disabled class="xml-preview-small request-xml-txt" rows="7">{{{this.request}}}</textarea>
                                <div class="show-xml preview-popup-btn" data-toggle-tooltip="tooltip" data-placement="top" title="" data-original-title="Click to open in Preview Popup">
                                    <span data-toggle="modal" data-target="#xml-popup-modal">
                                            <i class="fa fa-eye"></i>
                                    </span>
                                </div>
                            </td>
                            <td class="for-response">
                                <textarea disabled class="xml-preview-small response-xml-txt" rows="7">{{{this.response}}}</textarea>
                                <div class="show-xml preview-popup-btn" data-toggle-tooltip="tooltip" data-placement="top" title="" data-original-title="Click to open in Preview Popup">
                                    <span data-toggle="modal" data-target="#xml-popup-modal">
                                            <i class="fa fa-eye"></i>
                                    </span>
                                </div>
                            </td>
                            <td class="for-created-on">{{this.createdOn}}</td>
                            <td class="for-order-status">{{this.status}}</td>

                            <td class="for-error">
                                    
                            
                                <div class="data-container">{{this.error}}</div>
                                 {{#if this.error}}
                                <div class="show-error preview-popup-btn"data-toggle-tooltip="tooltip" data-placement="top" title="" data-original-title="Click to open in Preview Popup">
                                    <span data-toggle="modal" data-target="#xml-popup-modal">
                                        <i class="fa fa-eye"></i>
                                    </span>
                                </div>
                                {{/if}}
                            </td>
                            <td class="for-comment">
                                <div class="data-container">{{this.comment}}</div>
                                 {{#if this.comment}}
                                <div class="show-comment preview-popup-btn"data-toggle-tooltip="tooltip" data-placement="top" title="" data-original-title="Click to open in Preview Popup">
                                    <span data-toggle="modal" data-target="#xml-popup-modal">
                                            <i class="fa fa-eye"></i>
                                    </span>
                                </div>
                                 {{/if}}
                            </td>
                        </tr>
                        {{/each}}
                       
                    </tbody>
                    
                </table>
            </div>

            {{/each}}

            <p>Click on the preview <span class="primary-color"><i class="fa fa-eye"></i></span> button to see complete data.</p>
        </div>
    </div>
</div>
{{/each}}
