<!-- Search result top component : handlebar file -->

<!-- Search result top Starts -->


{{#each this.List.resultList}}



<div class="row">
    <div class="col-lg-6">

            <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong class="panel-heading-text">Order Details:</strong> 
                    </div>
                    <div class="panel-body">
                        <div class="row">


                                <div class="form-group input-group custom-form-group-section">
                                        <span class="input-group-addon custom-form-section ">Order ID: </span>
                                        <span class="form-control custom-form-section fetched-customer-details">{{this.orderId}}</span>
                                    </div>

                                    <div class="form-group input-group custom-form-group-section">
                                            <span class="input-group-addon custom-form-section ">Customer ID: </span>
                                            <span class="form-control custom-form-section fetched-customer-details">{{this.customerId}}</span>
                                    </div>


                        </div>
                    </div>

            </div>
        </div>


        <div class="col-lg-6">

                <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong class="panel-heading-text">Customer Details:</strong> 
                        </div>
                        <div class="panel-body">
                            <div class="row">
                               
                                <div class="form-group input-group custom-form-group-section">
                                    <span class="input-group-addon custom-form-section ">Name: </span>
                                    <span class="form-control custom-form-section fetched-customer-details">{{this.name}}</span>
                                </div>

                                <div class="form-group input-group custom-form-group-section">
                                        <span class="input-group-addon custom-form-section ">Email: </span>
                                        <span class="form-control custom-form-section fetched-customer-details">{{this.email}}</span>
                                </div>



                            </div>
                        </div>

                </div>
            </div>
</div>

{{/each}}
