<div class="column inner" id="WC_AddressEntryForm_div_userId">
    
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <div id="WC_AddressEntryForm_div_17" class="column_label">
                <span class="spanacce">
                    <label for="WC_UserRegistrationUpdateForm_NameEntryForm_FormInput_userId_1">
                        User ID 
                    </label>
                </span>					
                User ID 
                
            </div>
        </div>

        <div class="panel-body">


            <div class="accont_lable">
                <span>testkohler2</span>
                </div>


        </div>
    </div>

				
				
            </div>
            
<!--Updated HTML -->

 


            
<!--Updated HTML-->

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-heading-text">Fill the below detail</h4>
                </div>

                <div class="panel-body">





                </div>
            </div>



            